#LeftSidePane {
    -fx-background-color: #1F2833;
}

#tutorialButton, #manualButton, #solverButton {
    -fx-background-color: #0B0C10;
    -fx-text-fill: #C5C6C7;  /* White text color for contrast */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 3px 15px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-width: 120px; /* Fixed width for all buttons */
    -fx-border-color: #66FCF1;
}

#tutorialButton:hover, #manualButton:hover, #solverButton:hover {
    -fx-background-color: #45A29E;
}

#ProjectName{
    #applicationNameLabel {
        -fx-text-color: #66FC1;  /* White text color */
        -fx-font-size: 30px;  /* Font size for visibility */
        -fx-font-weight: bold;  /* Bold font weight for emphasis */
        -fx-padding: 10px;  /* Padding around the text */
        -fx-background-color:#1F2833;
        /* Center the text */
    }
}

#imagePane {
    -fx-background-image: url("file:/D:/Project-Ruby-Final/src/main/Designer.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 400px 400px;
}
